@charset "utf-8";

@font-face {
  font-family: 'GmarketSansBold';  /* 원하는 폰트 이름 */
  src: url("../font/GmarketSansBold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';  /* 원하는 폰트 이름 */
  src: url("../font/GmarketSansMedium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansLight';  /* 원하는 폰트 이름 */
  src: url("../font/GmarketSansLight.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}

p {
  font-family: 'GmarketSansMedium', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'GmarketSansBold', sans-serif;
}
