@charset "utf-8";

@import url("header.css");
@import url("footer.css");

/* reset */
html, body {overflow-x: hidden; }
body {min-width: 500px; width: 100%; background-color: #ffffff;}
ul li, a {text-decoration: none; color: inherit;}
.t_w {color: #fff;}
.under_bold {text-decoration: underline; font-weight: bold; cursor: pointer;}
.logo_white {color: #fff;}


/* top_banner */
#top_banner {width: 100%; height: 350px; position: relative; overflow: hidden;}
#top_banner_img {width: 100%; height: 100%;}
#top_banner_img ul {width: 500%; height: 100%; display: flex; transition: transform 0.5s ease-in-out;}
#top_banner_img ul li {width: 20%; height: 100%;}
#top_banner_img ul li img {width: 100%; height: 100%; object-fit: cover;}

/* dot */
#dot {position: absolute; left: 50%; transform: translateX(-50%); display: flex; justify-content: space-between; align-items: center; bottom: 20px; }
#dot li {margin: 0 5px; padding: 3px;}
#dot li:hover {cursor: pointer;}
#dot img {box-shadow: 2px 2px 4px #000; border-radius: 100px;}

/* container */
#container h2 {font-size: 24pt; font-weight: bold; position: relative; display: inline-block;}
#container h2::after {content: ""; position: absolute; top: 50%; left: 100%; margin-left: 20px; width: 500px; height: 1px; background: #000; transform: translateY(-50%); }

/* tab1 */
#tab1 {width: 100%; overflow: hidden;}
#tab1 h2 {margin: 20px;}
#tab1 ul {display: flex; align-items: center; white-space: nowrap; height: 100%; justify-content: center;}
#tab1 ul li {margin: 0 10px;}
#tab1 ul li img { width: 100%; }
/* .co-lab3 {height: 140px; width: auto;}
.co-lab2 {height: 110px; width: auto;}
.co-lab1 {height: 80px; width: auto;} */

/* tab2 */
#tab2 {width: 100%; height: 100%; margin: 20px; font-size: 12px; overflow-x: scroll; white-space: nowrap;}
#tab2 ul {margin-top: 20px; border-radius: 4pt; width: 150px; height: 150px; background-color: #f0f0f0; color:#4F4638; font-size: 18pt; flex-shrink: 0; overflow-y: scroll; margin-bottom: 10px;}
#tab2 ul li {margin-top: 10px; margin-left: 20px; margin-bottom: 16px;}
#tab2 ul li:hover {text-decoration: underline;}
#tab2 img {margin:75px 20px 0 20px;}
#FMC_list {display: flex;}
#FMC_list::after {content: ''; flex: 0 0 30px;}

/* tab3 */
#FMC_nav {width: 100%; margin: 0 auto;}
#FMC_nav ul {display: flex; width: calc(100% - 40px); padding: 0; margin: 0 20px;}
#FMC_nav ul li {flex: 1 1 90px; height: 50px; color: #fff; text-align: center; line-height: 50px; border-radius: 10px 10px 0 0; box-sizing: border-box;}
#FMC_nav ul li:hover {cursor: pointer;}
.FMC_sel {background-color: #9C5C48;}
#FMC_nav ul li:not(.FMC_sel) {background-color: #D8B4A0;}

/* Case_list */
#Case_list {margin: 0 20px; display: flex; flex-direction: column; align-items: center; overflow: hidden;}
#Case_list h3 {font-size: 18pt; margin-left: 10px; margin-top: 60px;}
#Case_list img {height: 294px; max-width: 100%; margin-top: 30px;}
#Case_list ul {display: grid; grid-template-columns: repeat(2, 1fr);}
#Case_list ul li {width: 100%; height: 100%; background: url("../images/product_bg2.png") no-repeat; background-size: cover;}
#Case_list .info {margin: 5px 10px; display: flex; justify-content: space-between; font-size: 12pt;}

#Case_list a {width: 150px; height: 40px; display: block; background: #000; color: #fff; text-decoration: underline; border-radius: 100px; font-size: 18pt; text-align: center; line-height: 1.5em; margin-top: auto; margin-top: 20px; padding: 6px 8px;}

.case-panel.active {display: block;}
.case-panel {display: none;}

/* tab4 */
#tab4 {margin: 20px; width: 100%;}
#tab4 ul {width: 100%; margin-top: 15px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; overflow-x: auto; scrollbar-width: none; margin-right: 50px;}
#tab4 ul li {width: 185px; height: 185px; position: relative; overflow: hidden; border-radius: 5px; white-space: nowrap;}
#tab4 ul li:hover {cursor: pointer;}
#tab4 ul li:hover a {background-color: #f8f8f8; color: #000;}
#tab4 a {width: 50px; height: 15px; border-radius: 20px; background-color: #000; color: #fff; font-size: 8pt; position: absolute; bottom: 5px; right: 5px; line-height: 15px; text-align: center; padding: 3px 5px; transition: background-color 0.3s ease, color 0.3s ease;}
#tab4 .star_name {position: absolute; top: 5px; left: 5px;}
#tab4 .star_job {position: absolute; top: 5px; right: 5px;}
#tab4 .star_case {position: absolute; bottom: 5px; left: 5px;}
#tab4 ul li img {width: inherit; object-fit: cover; border-radius: 5px;}

.star_name {font-size: 12pt;}
.star_job {font-size: 8pt; text-align: right;}
.star_case {font-size: 8pt;}

/* tab5 */
#tab5 {margin: 20px; width: 100%; position: relative;}
#tab5 h2 {margin-bottom: 20px;}
#tab5 .scroll-wrapper {overflow-x: auto; scrollbar-width: none; -ms-overflow-style: none;}
#tab5 .scroll-wrapper::-webkit-scrollbar {display: none;}
#tab5 ul {display: flex; flex-wrap: wrap; gap: 10px; width: 610px; box-sizing: border-box;}
#tab5 ul:hover {cursor: pointer;}
#tab5 ul li:hover a {background-color: #f8f8f8; color: #000;}
#tab5 ul li {display: flex; height: 165px; border-radius: 5px; overflow: hidden;}

#News_1, #News_3 {flex-direction: row; width: 335px;}
#News_1 img, #News_3 img {flex: 1.618; width: 0; height: 100%; object-fit: cover;}
#News_1 .text_area, #News_3 .text_area {flex: 1; padding: 3px;}

#News_2, #News_4 {flex-direction: column; width: 265px;}
#News_2 img, #News_4 img {height: 61.8%; width: 100%; display: block; object-fit: cover;}
#News_2 .text_area, #News_4 .text_area {height: 38.2%; padding: 3px; box-sizing: border-box;}

.text_area {position: relative;}
.text_area a {position: absolute; right: 5px; bottom: 5px;}

#News_1 .text_area {background-color: #50f;}
#News_2 .text_area {background-color: rgba(0, 0, 0, 0.2);}
#News_3 .text_area {background-color: #f00;}
#News_4 .text_area {background-color: #00ff4d;}

#tab5 a {font-size: 10px; width: 62px; height: 16px; color: #fff; background-color: #000; border-radius: 20px; line-height: 16px; text-align: center; padding: 3px 5px; transition: background-color 0.3s ease, color 0.3s ease;}


/* tab6 */
#tab6 {padding-top: 20px; width: 100%; height: 100%; position: relative;}
#tab6 img {width: 100%;}
#tab6 h3 {font-size: 24pt; font-weight: bold; background: #f00; width: 310px; height: 32px; border-radius: 10px 10px 0 10px; padding: 8px 5px 3px 5px ; text-align: center; position: absolute; right: 20px; top: 30px;}
#tab6 p {font-size: 10pt; text-align: center; width: 180px; height: 34px; border-radius: 0 0 10px 10px; background-color: #f00; position: absolute; right: 20px; top: 70px;}
#tab6 a {font-size: 24px; width: 136px; height: 40px; background: #000; color: #fff; border-radius: 50px; text-align: center; line-height: 40px; position: absolute; right: 20px; bottom: 20px;}


/* tab7 */
#tab7 {margin-bottom: 30px;}

.divline {width: 110px; height: 1px; background-color: rgba(0, 0, 0, 0.2); margin: 30px auto;}

.sns_txt {text-align: center; margin-bottom: 40px;}
.sns_txt h3 {font-size: 20pt;}
.sns_txt h4 {font-size: 14pt;}

#sns {display: flex; justify-content: center; align-items: center; text-align: center;}
#sns li {margin-right: 30px; font-size: 10pt; text-align: center; cursor: pointer;}
#sns li:hover i {transform: scale(1.2); transition: transform 0.3s ease;}
#sns li:last-child {margin-right: 0;}
#sns li i {font-size: 25px; margin-bottom: 10px;}